---
title: Yoadan
---


<div class="container-fluid ">
  <div class="row">
    <div class="visible-xs col-xs-12 banner-mobile text-center">

<div class="slideDown">
        <h1 style="font-style: italic">Yoadan </h1>
    <p > Vous avez un projet web ? La WebAgency vous aide à le réaliser! </p>
    <a class="btn btn-warning text-center" data-toggle="modal" href='#modal-id'>Votre devis gratuit</a>

</div>

    </div>
  </div>
</div>


<div class="container-fluid  text-center " >
  <div class="row">
    <div class="col-md-12 hidden-xs banner ">

<div class="slideDown">
        <h1 style="font-style: italic">Yoadan </h1>
    <p > Vous avez un projet web ? La WebAgency vous aide à le réaliser! </p>
    <a class="btn btn-warning text-center" data-toggle="modal" href='#modal-id'>Votre devis gratuit</a>

</div>
    </div>
  </div>
</div>


 <!-- texte-presentation -->
<div class="container-fluid bg-orange-light padded-light text-center ">
  <div class="row">
    <div class="col-md-12">
 <h2> Qui somme nous ? </h2>
<br><br>
<% data.presentation.each do |presentation| %>

 <p> <%= presentation.content %></p>

<% end %>

    </div>
  </div>
</div>
<!-- fin texte-presentation -->




 <!-- div card -->

<div class="container-fluid bg-white  padded-light " id="Nos-service">
 <div class="row">
<div class="col-xs-12 col-md-offset-1 col-sm-6 col-md-5 ">
<h2 class="text-center">Nos service</h2>
  <p>Communication, marketing, graphisme, ergonomie, création de sites internet, développement web, référencement, application, hébergement et infogérance de serveurs, noms de domaines... Notre agence vous conseille et vous accompagne de A à Z dans tous vos projets digitaux.</p>


 <div class=" padded-light">
 <img  src="https://unsplash.it/300/200/?random" alt="">
</div></div>

<div class="col-xs-12 col-sm-6 col-md-6">
<% data.service.each do |service| %>
<aside class="cards-service">
 <h2> <%= service.title %></h2>
 <p class="border-cards"></p>
 <p> <%= service.content %></p>
</aside>
<% end %>

</div>
 </div></div></div>

     <!-- fin div cards -->
     <!-- fin section nos service -->

<!-- nos produit -->
<div class="container-fluid bg-orange padded-light  text-center">
  <div class="row">

    <div class="col-md-12">
     <h2>Nous vous proposons ...</h2>
     <br><br>
</div>



<% data.product.each do |product| %>
<div class="col-xs-12 col-md-3 col-sm-6 bg-silver ">
<br><br>
  <img  src="https://unsplash.it/80/100" class="img-fluid" alt="">
    <br><br>
  <h3> <%= product.title %></h3>
 <p> <%= product.content %></p>
   <p> <%= product.price %></p>
    </div>

<% end %>
    </div>
  </div>
</div>

<!--  div service -->
 <div class="container-fluid  bg-white text-center padded-light" id="Nos-realisation">
 <div class="row ">

  <div class="col-md-12">
    <h2>Nos realisation </h2>
     <br><br>
</div>




<% data.realisation.each do |realisation| %>
<div class="col-md-4  col-sm-6">
<aside class="cards-service">
 <h2> <%= realisation.categorie %></h2>
 <br>

 <img  src="https://unsplash.it/200" class="img-fluid" alt="">
 <br><br>
   <p> <%= realisation.title %></p>
    </div>
</aside>
<% end %>
    </div>

   </section>
    </div></div></div>


<!--      fin div service -->
<!--      fin section nos realisation -->

<!--     section google maps -->
 <div class="container-fluid bg-orange-light padded-light" id="carte">
 <div class="row">
    <div class="col-xs-12 col-md-12">
<section class="">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.8779606540643!2d2.2935673150492137!3d48.860537508510596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fe113191b01%3A0x6f2f228e367a5caf!2sTour+Eiffel!5e0!3m2!1sfr!2sfr!4v1485700644565" width="100%" height="400x0" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

    </div></div></div>
     <!-- fin section  google maps -->
  </div>
</div>





